.confetti {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: -1;
}

.confetti-piece {
    position: absolute;
    width: 8px;
    height: 16px;
    background: #ffd300;
    top: 0;
    opacity: 0;
}

.confetti-piece:nth-child(1) {
    left: 7%;
    transform: rotate(-3deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 40ms;
    animation-delay: 40ms;
    -webkit-animation-duration: 940ms;
    animation-duration: 940ms;
}

.confetti-piece:nth-child(2) {
    left: 14%;
    transform: rotate(-11deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 175ms;
    animation-delay: 175ms;
    -webkit-animation-duration: 949ms;
    animation-duration: 949ms;
}

.confetti-piece:nth-child(3) {
    left: 21%;
    transform: rotate(57deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 319ms;
    animation-delay: 319ms;
    -webkit-animation-duration: 866ms;
    animation-duration: 866ms;
}

.confetti-piece:nth-child(4) {
    left: 28%;
    transform: rotate(47deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 88ms;
    animation-delay: 88ms;
    -webkit-animation-duration: 801ms;
    animation-duration: 801ms;
}

.confetti-piece:nth-child(5) {
    left: 35%;
    transform: rotate(-55deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 17ms;
    animation-delay: 17ms;
    -webkit-animation-duration: 1042ms;
    animation-duration: 1042ms;
}

.confetti-piece:nth-child(6) {
    left: 42%;
    transform: rotate(-69deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 108ms;
    animation-delay: 108ms;
    -webkit-animation-duration: 972ms;
    animation-duration: 972ms;
}

.confetti-piece:nth-child(7) {
    left: 49%;
    transform: rotate(-20deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 160ms;
    animation-delay: 160ms;
    -webkit-animation-duration: 847ms;
    animation-duration: 847ms;
}

.confetti-piece:nth-child(8) {
    left: 56%;
    transform: rotate(72deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 374ms;
    animation-delay: 374ms;
    -webkit-animation-duration: 1156ms;
    animation-duration: 1156ms;
}

.confetti-piece:nth-child(9) {
    left: 63%;
    transform: rotate(-52deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 214ms;
    animation-delay: 214ms;
    -webkit-animation-duration: 1114ms;
    animation-duration: 1114ms;
}

.confetti-piece:nth-child(10) {
    left: 70%;
    transform: rotate(-45deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 205ms;
    animation-delay: 205ms;
    -webkit-animation-duration: 1006ms;
    animation-duration: 1006ms;
}

.confetti-piece:nth-child(11) {
    left: 77%;
    transform: rotate(-33deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 416ms;
    animation-delay: 416ms;
    -webkit-animation-duration: 930ms;
    animation-duration: 930ms;
}

.confetti-piece:nth-child(12) {
    left: 84%;
    transform: rotate(-41deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 419ms;
    animation-delay: 419ms;
    -webkit-animation-duration: 1157ms;
    animation-duration: 1157ms;
}

.confetti-piece:nth-child(13) {
    left: 91%;
    transform: rotate(-59deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 192ms;
    animation-delay: 192ms;
    -webkit-animation-duration: 790ms;
    animation-duration: 790ms;
}

.confetti-piece:nth-child(odd) {
    background: #17d3ff;
}

.confetti-piece:nth-child(even) {
    z-index: 1;
}

.confetti-piece:nth-child(4n) {
    width: 5px;
    height: 12px;
    -webkit-animation-duration: 2000ms;
    animation-duration: 2000ms;
}

.confetti-piece:nth-child(3n) {
    width: 3px;
    height: 10px;
    -webkit-animation-duration: 2500ms;
    animation-duration: 2500ms;
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

.confetti-piece:nth-child(4n-7) {
    background: #ff4e91;
}

@-webkit-keyframes makeItRain {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        transform: translateY(200px);
    }
}

@keyframes makeItRain {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        transform: translateY(200px);
    }
}