@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html, body {
    overflow: hidden; /* don't do scrollbars */
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}
  
#calendar-container {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}
  
.fc-header-toolbar {
    /*
    the calendar will be butting up against the edges,
    but let's scoot in the header's buttons
    */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

header {
    font-family: 'Roboto', serif;
    width: 100%;
    height: 40px;
    padding: 8px;
    margin: 0px;
    /*box-shadow: 0px 5px 1px grey;*/
    display: inline-flex;
    align-items: center;
}

.burger {
    border-radius: 100%;
    display: inline-block;
    margin: 0 4px;
    padding: 12px;
    overflow: hidden;
    cursor: pointer;
    height: 24px;
    width: 24px;
    flex: 0 0 auto;
    position: relative;
}

.burger :hover {
    background-color: #f1f3f4;
}

.logo {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.logo-img {
    width: 40px;
    height: 40px;
}

.logo-text {
    display: inline-block;
    color: #434649;
    margin-left: 10px;
    font-size: 22px;
}

.select-group {
    margin-left: 50px;
}

select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: #2c3e50;
    background-image: none;
    cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 200px;
    height: 32px;
    border-radius: .25em;
    overflow: hidden;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
}

/* Transition */
.select:hover::after {
    color: #f39c12;
}

.menu-right {
    margin-left: auto;
    margin-right: 30px;
}

.add {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.add-img {
    width: 28px;
    height: 28px;
}
  
/* -------------------------------- 
  
  xpopup 

-------------------------------- */
.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
  
.cd-popup-container {
    position: relative;
    width: 90%;
    height: auto;
    padding-bottom: 1px;
    max-width: 600px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    /*-webkit-backface-visibility: hidden;*/
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cd-popup-container p {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    font-size: 20px;
}
.cd-buttons {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}
.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
    list-style: none;
}
.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
    background: #fc7169;
    border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
    background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}
.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}
.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
    .cd-popup-container {
      margin: 8em auto;
    }
}

.d-none {
    display: none !important;
}


/* TABS */

.tabs {
    width: 100%;
    max-width: 500px;
}
 
 /* Стили для списка вкладок */
.tab-header {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
 
 /* Стили для вкладки */
.tab-header-item {
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-bottom: none;
}
 
 /* Стили для активной вкладки */
.tab-header-item.active {
    color: red;
    position: relative;
    background-color: #fff;
    border-color: red;
}
 
/* Стиль для списка контейнеров с содержимым вкладок */
.tab-content {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
/* Стили для контейнера с содержимым вкладки */
.tab-content__item {
    display: none;
    padding: 20px;
    border: 1px solid red;
}
 
/* Стили для активного контейнера вкладки */
.tab-content__item.active {
    display: block;
}

.popup-input {
    margin-top: 16px;
}

.popup-list {
    margin-top: 15px;
    max-height: 300px;
    overflow-y: auto;
    text-align: center;
}

.list-item {
    display: inline-flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.list-item:hover {
    background-color: rgb(221, 221, 221);
}

.list-item-selected {
    background-color: rgb(104, 209, 73) !important;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.popup-down {
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: right;
}

.button {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.save-button {
    background-color: #4CAF50;
    margin-right: 21px;
    border-radius: 4px;
    padding: 9px 18px;
    margin-right: 20px;
}

.save-button:hover {
    background-color: #3c883e;
}

/* PRELOADER */

.preloader {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

#preloader-img {
    max-width: 500px;
}